#header {
    height: 400px;
}

#header h1 {
    color: #fff;
    margin: 0;
}

#header img {
    width: 100%;
}

#content {
}

#content p {
    line-height:24px;
    padding: 10px 0;
}

#footer p {
    text-align:center;
}